.section-img {
  padding: 1rem;
  gap: 1rem;
  & img {
    width: 100%;
    
  }

}
@media (width >= 80em) {
  .section-img {
    padding: 1.5rem ;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    gap: 1.5rem ;

  }
}